name: gogs
services:
  app:
    image: gogs/gogs:latest
    restart: unless-stopped
    ports:
      - target: 22
        published: '10022'
        protocol: tcp
      - target: 3000
        published: '3022'
        protocol: tcp
    volumes:
      - type: bind
        source: /DATA/AppData/gogs/data
        target: /data
    environment:
      RUN_CROND: true
    depends_on:
      - postgres
  postgres:
    image: postgres:9.5
    restart: always
    environment:
      - POSTGRES_USER: ${POSTGRES_USER}
      - POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      - POSTGRES_DB: gogs
    volumes:
      - type: bind
        source: /DATA/AppData/gogs/postgresql/data
        target: /var/lib/postgresql/data
    networks:
      - gogs
x-casaos:
  architectures:
    - amd64
    - arm
    - arm64
  main: app
  description:
    en_us: |
      The Gogs project aims to build a simple, stable and extensible self-hosted Git service that can be set up in the most painless way. With Go, this can be done with an independent binary distribution across all platforms that Go supports, including Linux, macOS, Windows and ARM-based systems.

      Features
        User dashboard, user profile and activity timeline.
        Access repositories via SSH, HTTP and HTTPS protocols.
        User, organization and repository management.
        Repository and organization webhooks, including Slack, Discord and Dingtalk.
        Repository Git hooks, deploy keys and Git LFS.
        Repository issues, pull requests, wiki, protected branches and collaboration.
        Migrate and mirror repositories with wiki from other code hosts.
        Web editor for quick editing repository files and wiki.
        Jupyter Notebook and PDF rendering.
        Authentication via SMTP, LDAP, reverse proxy, GitHub.com and GitHub Enterprise with 2FA.
        Customize HTML templates, static files and many others.
        Rich database backend, including PostgreSQL, MySQL, SQLite3 and TiDB.
        Have localization over 31 languages.
    pt_br: |
      O projeto Gogs visa construir um serviço Git auto-hospedado simples, estável e extensível que pode ser configurado da maneira mais fácil. Com Go, isso pode ser feito com uma distribuição binária independente em todas as plataformas suportadas por Go, incluindo Linux, macOS, Windows e sistemas baseados em ARM.

      Recursos
        Painel do usuário, perfil do usuário e cronograma de atividades.
        Acesse repositórios via protocolos SSH, HTTP e HTTPS.
        Gerenciamento de usuários, organização e repositório.
        Webhooks de repositório e organização, incluindo Slack, Discord e Dingtalk.
        Ganchos Git do repositório, chaves de implantação e Git LFS.
        Problemas de repositório, solicitações pull, wiki, ramificações protegidas e colaboração.
        Migre e espelhe repositórios com wiki de outros hosts de código.
        Editor da Web para edição rápida de arquivos de repositório e wiki.
        Jupyter Notebook e renderização de PDF.
        Autenticação via SMTP, LDAP, proxy reverso, GitHub.com e GitHub Enterprise com 2FA.
        Personalize modelos HTML, arquivos estáticos e muitos outros.
        Back-end de banco de dados rico, incluindo PostgreSQL, MySQL, SQLite3 e TiDB.
        Tenha localização em mais de 31 idiomas.
  tagline:
    en_us: Gogs - A painless self-hosted Git service.
    pt_br: Gogs - Um serviço Git auto-hospedado e simples.
  developer: ''
  author: adrianocandrade
  icon: https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/icons/gogs.png
  thumbnail: https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/icons/gogs.png
  project_url: https://github.com/adrianocandrade/CasaOS-APPsCloud
  screenshot_link:
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-1.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-2.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-3.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-4.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-5.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-6.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-7.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-8.png
    - https://raw.githubusercontent.com/adrianocandrade/CasaOS-APPsCloud/master/images/screenshots/gogs/screenshot-9.png
  store_app_id: gogs
  title:
    en_us: Gogs
    pt_br: Gogs
  category: Developer
  port_map: '3022'
